@import "reset.css";
@import "layout.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 21px;
  margin-top: 80px;
  line-height: 21px;
}

p {
  font-size: 11px;
  line-height: 23px;
  margin-top: 28px;
}

.text_begin {
  margin-top: 36px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
img {
  width: 1020px;
  margin-bottom: 90px;
  margin-top: 90px;
}

h2 {
  font-size: 17px;
  line-height: 19px;
  margin-top: 64px;
}
